<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/js/login.js"></script>
    </head>
    <body style="text-align: center;">
        <centre>
            <form id="loginForm">
                <fieldset>
                    <p id="errMsg" style="color: red;"></p>
                    <label>Email</label>
                    <input type="text" id="email"><br/><br>
                    <label>Password</label>
                    <input type="password" id="password">
                    <input type="submit"><br>
                </fieldset>
            </form>
        </centre>
    </body>
</html>